# ملفات النظام
.DS_Store
Thumbs.db

# مجلدات الإخراج
/bin/
/build/
/target/

# ملفات الإعداد المحلية IDE
*.iml
*.classpath
*.project
/.idea/
/.vscode/

# ملفات اللغات المؤقتة
*.log
*.tmp

# ملفات الترجمة
*.class

# ملفات النظام أو التكوين المؤقتة
*.swp
*~

# ملفات الحزم والـ JAR
*.jar

# ملفات أخرى شائعة التجاهل
*.war
*.ear